@media (max-width: 390px) {
    * {
        font-family: 'Poppins', sans-serif;
    }

    nav {
        display: flex;
        align-items: center;
        margin-top: 40px;
    }

    nav div {
        font-weight: 900;
        margin-left: 10px;
    }

    main {
        margin: 20px 20px 0 20px;
    }

    .daa {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
        background-color: rgba(245, 245, 245, 0.679);
        padding: 10px;
        border-radius: 5px;
        font-weight: 700;
    }

    .to {
        color: green;
    }

    .from {
        color: red;
    }


}    