@media (max-width: 390px) {
    body {
        background-image: url("./images/Onboarding\ Screen\ 2.png");
        background-repeat: no-repeat;
        background-size: cover;
    } 

    div {
        /* position: absolute; */
        margin: 15px;
    }

    div .cont{
        position: absolute;
        top: 470px;
        color: white;
        font-size: 27px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        width: 330px;
        margin: auto;
    }

    div p {
        position: absolute;
        top: 560px;
        left: 28px;
        color: white;
        font-family: 'Poppins', sans-serif;
        margin: auto;
        font-weight: 700;
        font-size: smaller;
        width: 320px;
    }

    div button {
        position: absolute;
        width: 88%;
        top: 605px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 700;
        padding: 10px;
        margin-top: 15px;
        background-color: rgb(137, 2, 62);
        color: white;
        border: none;
        border-radius: 5px;
    }
}

@media (max-width: 428px) and (min-width: 428px) {
    body {
        background-image: url("./images/Onboarding\ Screen\ 2.png");
        background-repeat: no-repeat;
        background-size: cover;
    } 

    div {
        margin: 15px;
    }

    div .cont{
        position: absolute;
        top: 520px;
        left: 35px;
        color: white;
        font-size: 27px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        width: 330px;
        margin: auto;
    }

    div p {
        position: absolute;
        top: 605px;
        left: 35px;
        color: white;
        font-family: 'Poppins', sans-serif;
        margin: auto;
        font-weight: 700;
        font-size: smaller;
        width: 320px;
    }

    div button {
        position: absolute;
        width: 85%;
        top: 660px;
        left: 32px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 700;
        padding: 10px;
        background-color: rgb(137, 2, 62);
        color: white;
        border: none;
        border-radius: 5px;
    }
}