@media (max-width: 390px) {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
    body{
        background-color: rgb(137, 2, 62);
    }

    div {
        margin-top: 350px;

    }

    div img {
        color: white;
        height: 55px;
        width: 150px;
        display: block;
        margin: auto;
    }

    div  p {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
        margin-top: 5px;
    }
}

@media (max-width: 428px) {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
    body{
        background-color: rgb(137, 2, 62);
    }

    div {
        margin-top: 320px;
    }

    div img {
        color: white;
        height: 55px;
        width: 150px;
        display: block;
        margin: auto;
    }

    div  p {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
        margin-top: 5px;
    }
}