@media (max-width: 390px) {
    * {
        font-family: 'Poppins', sans-serif;
    }

    nav {
        display: flex;
        align-items: center;
        margin-top: 40px;
    }

    nav div {
        font-weight: 900;
        margin-left: 10px;
    }

    main {
        margin: 230px 30px 0 30px;
    }

    img {
        display: flex;
        margin: auto;
    }
    
    h3 {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }

    div {
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }

    button {
        border: none;
        border-radius: 7px;
        color: white;
        background-color: rgb(137, 2, 62);
        margin-top: 8px;
        /* padding: 10px 0; */
        font-weight: 700;
        width: 100%;
        padding: 10px 0;
    }
    
}

@media (max-width: 428px) {
    * {
        font-family: 'Poppins', sans-serif;
    }

    nav {
        display: flex;
        align-items: center;
        margin-top: 40px;
    }

    nav div {
        font-weight: 900;
        margin-left: 10px;
    }

    main {
        margin: 230px 30px 0 30px;
    }

    img {
        display: flex;
        margin: auto;
    }
    
    h3 {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }

    div {
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }

    button {
        border: none;
        border-radius: 7px;
        color: white;
        background-color: rgb(137, 2, 62);
        margin-top: 8px;
        /* padding: 10px 0; */
        font-weight: 700;
        width: 100%;
        padding: 10px 0;
    }
}